/* .book__card, .book__cover {
	max-height: 50rem;
	max-width: 100%;
	object-fit: cover;
} */

.books__list--section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.books__list--headline {
	font-size: 2.5rem;
}

.books__cards--list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	width: 85%;
}

.book__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	padding: 0.8rem;
	background: rgb(28, 183, 207);
}

.book__title {
	margin: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.book__cover {
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.book__author {
	color: #fff;
}

@media screen and (min-width: 615px) {
	.books__cards--list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 95%;
	}

	.book__card {
		margin: 0.8rem;
	}

	.book__cover {
		width: 100%;
		padding: 0.5rem;
	}
}

@media screen and (min-width: 768px) {
	.books__cards--list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 95%;
	}

	.book__card {
		margin: 1rem;
	}

	.book__cover {
		width: 100%;
		/* height: 20rem; */
		padding: 0.5rem;
	}
}