.books__genre--buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	padding: 1rem;
}

.genre__button {
	display: flex;
	justify-content: left;
	margin: 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #a5a5a5
}

.close__filter--button {
	display: block;
	padding: 0.3rem 0.8rem;
}

.close__filter--button--hidden {
	display: none;
}

@media screen and (min-width: 600px) {
	.filtered__book--active {
		text-decoration: underline;
		font-weight: bold;
	}

	.books__genre--buttons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.genre__button:hover {
		cursor: pointer;
		transition: 0.4s;
		background: #A5D7E8;
	}
}

@media screen and (min-width: 768px) {
	.books__genre--buttons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}