.genre__button {
	margin: 0.5rem;
	padding: 0.5rem;
	border: none;
	font-size: 1rem;
}


@media screen and (min-width: 615px) {
	.filtered__book--active {
		text-decoration: underline;
		font-weight: bold;
	}

	.genre__button:hover {
		cursor: pointer;
		background: rgb(9, 41, 82);
		/* opacity: 50%; */
		/* transition: 0.5s; */
	}
}