.header__container {
	background: #146C94;
}

.header__content {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}


.header__navigation {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navigation__item {
	color: #fff;
	margin: 0.8rem;
	list-style: none;
}

.header__headline {
	color: #fff;
	padding: 2rem;
}