.header__container {
	background: #19376D;
}

.header__content {
	width: 100vw;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}

.header__navigation {
	display: none;
	height: 100vh;
}

.navigation__item {
	padding: 1rem;
	margin: 0.5rem;
	color: #fff;
}

.header__headline {
	color: #fff;
}


/* Navigation menu*/
.header__navigation--buttons {
	background: inherit;
}

.header__navigation--open {
	border: none;
}

.navigation__open--icon {
	width: 3rem;
}

.navigation__close--icon {
	width: 3rem;
}

.header__navigation--close {
	display: none;
	border: none;
}

/* Search-input styling */
.navigation__search--input {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.navigation__input--filter {
	width: 60%;
	padding: 0.7rem;
	border-radius: 100px;
	/* outline: none; */
	border: 1px solid black;
}

.navigation__input--submit {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -33px;
}

.input__submit--icon {
	width: 1.5rem;
	height: 1.5rem;
	object-fit: cover;
}


@media screen and (min-width: 650px) {
	.header__content {
		display: flex;
		align-items: center;
		padding: 1rem;
	}
	
	.header__navigation {
		display: flex;
		flex-direction: row;
		height: fit-content;
	}

	.header__navigation--links {
		display: flex;
		flex-direction: row;
	}


	.navigation__item:hover {
		background: rgb(9, 41, 82);
		transition: 0.4s;
	}

	.header__navigation--open {
		display: none;
	}

	.header__navigation--close {
		display: none;
	}

	.navigation__search--input {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.navigation__input--filter {
		width: 100%;
		padding: 0.7rem;
		border-radius: 100px;
		border: 1px solid black;
	}
	
	.navigation__input--submit {
		background: transparent;
		border: none;
		outline: none;
		margin-left: -33px;
	}
	
	.input__submit--icon {
		width: 1.5rem;
		height: 1.5rem;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	
}