.hero__section {
	padding: 2rem 5rem;
}

.hero__card {
	position: relative;
}

.hero__image {
	width: 100%;
	opacity: 90%;
}
.hero__text {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 20%;
	right: 20%;
	top: 35%;
	bottom: 35%;
	padding: 3rem;
	opacity: 70%;
	color: #fff;
	font-size: 1.2rem;
	background: rgb(9, 41, 82);
}


@media screen and (min-width: 650px) {
	/* .hero__section {
		padding: 2rem 5rem;
	}
	
	.hero__card {
		position: relative;
	}
	
	.hero__image {
		width: 100%;
		opacity: 90%;
	} */
	.hero__text {
		left: 20%;
		right: 20%;
		top: 35%;
		bottom: 35%;
		/* font-size: 50%; */
	}
}
